node_modules
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

test
src
.idea
.DS_Store

npm-debug.log
﻿# kdiff3 ignore
*.orig

# maven ignore
target/

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

Thumbs.db

# package ignore (optional)
# *.jar
# *.war
# *.zip
# *.tar
# *.tar.gz
